[2019-01-14 18:04] amihaiemil opened #1 "Project skeleton"
A maven java 8 project skeleton should do.

[2019-01-14 18:04] amihaiemil opened #2 "Release configs"
add em

[2019-01-14 18:04] amihaiemil opened #3 "Rultor, Travis, 0pdd"
Add em too

[2019-01-14 18:30] #1 closed

[2019-01-14 18:30] #3 closed

[2019-01-14 18:51] #2 closed

[2019-01-14 18:51] 0crat commented on #2
I'm not managing `amihaiemil/zold-java-client` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2019-01-14 18:52] amihaiemil opened #4 "ZoldNet entry point"
ZoldNet will be the entry point. RtZoldNet (RESTful ZoldNet) will be its public implementation.

[2019-01-14 18:52] 0crat commented on #4
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) I'm not managing this repo, remove the [webhook](https://github.com/amihaiemil/zold-java-client/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `amihaiemil/zold-java-client` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.h

[2019-01-14 18:53] 0crat commented on #4
I'm not managing `amihaiemil/zold-java-client` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2019-01-14 19:07] amihaiemil opened #5 "0crat test"

[2019-01-14 19:09] 0crat commented on #5
Job [#5](https://github.com/amihaiemil/zold-java-client/issues/5) is now in scope, role is `DEV`

[2019-01-14 19:11] amihaiemil commented on #5
@0crat out

[2019-01-14 19:15] amihaiemil commented on #4
@ammaratef45 so would you like to help with this library? Shouldn't be complicated, we have [docker-java-api](http://github.com/amihaiemil/docker-java-api) as model (it will be almost 1:1 as architecture)

[2019-01-14 19:16] 0crat commented on #5
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-01-14 19:16] 0crat commented on #5
@amihaiemil Job `gh:amihaiemil/zold-java-client#5` is not assigned, can't get performer

[2019-01-14 19:16] 0crat commented on #5
@amihaiemil The job [#5](https://github.com/amihaiemil/zold-java-client/issues/5) is now out of scope

[2019-01-14 19:18] ammaratef45 commented on #4
@amihaiemil
Yes I would like to help,
You can rely on me I wish

[2019-01-14 19:38] #5 closed

[2019-01-14 19:57] 0crat commented on #5
Job `gh:amihaiemil/zold-java-client#5` is not assigned, can't get performer

[2019-01-14 19:58] 0crat commented on #5
This job is not in scope

[2019-01-15 08:04] #4 closed

[2019-01-15 08:10] amihaiemil opened #7 "Add User-Agent Inteceptor"
Interceptor for the ``HttpClient`` to add the ``User-Agent`` HTTP header. See how it's done in [docker-java-api](https://github.com/amihaiemil/docker-java-api), including the ``config.properties`` file.

[2019-01-15 08:20] 0crat commented on #4
Job `gh:amihaiemil/zold-java-client#4` is not assigned, can't get performer

[2019-01-15 08:20] 0crat commented on #4
This job is not in scope

[2019-01-15 08:31] yegor256 opened #8 "Rename the main entry point to WTS"
I would suggest to rename the main class to `WTS`, in order to make it look similar to the Ruby SDK.

[2019-01-15 08:32] 0crat commented on #8
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-01-15 08:32] 0crat commented on #8
@yegor256[/z](https://www.0crat.com/u/yegor256) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/GFCHY7NQG) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-15 08:33] 0crat commented on #7
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-01-15 08:42] 0crat commented on #7
The job [#7](https://github.com/amihaiemil/zold-java-client/issues/7) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/GFCHY7NQG/db6cd0b0-0288-4b7d-bbc7-36f8c08f788e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-01-15 08:43] amihaiemil commented on #8
@yegor256 Seems rather strange or?

[code]

Maybe ``ZoldWts`` is better?

[2019-01-15 08:45] amihaiemil commented on #7
@ammartef45 don't forget about PDD. Always make a minimum PR -- for this ticket, for instance, I would make a PR with an interface and that ``config.properties`` file.

[2019-01-15 08:47] amihaiemil commented on #8
@yegor256 we'll fo with ``ZoldWts``. Nobody will have any idea what it is if they see

[code]

in the code.

[2019-01-15 08:50] 0crat commented on #8
Job [#8](https://github.com/amihaiemil/zold-java-client/issues/8) is now in scope, role is `DEV`

[2019-01-15 08:57] 0crat commented on #8
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-01-15 08:57] 0crat commented on #8
The job [#8](https://github.com/amihaiemil/zold-java-client/issues/8) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/GFCHY7NQG/e7364b6b-badd-4c39-993f-3199910f7b77); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-01-15 11:31] 0pdd opened #10 "UserAgentRequestHeader.java:41-43: We should use this..."
The puzzle `7-d6b7ad21` from #7 has to be resolved:

https://github.com/amihaiemil/zold-java-client/blob/795d20c9c15a6f6bcf372feaafb569f5c0eb26b4/src/main/java/com/amihaiemil/zold/UserAgentRequestHeader.java#L41-L43

The puzzle was created by @amihaiemil on 15-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed

[2019-01-15 11:31] 0pdd commented on #10
@amihaiemil please pay attention to this new issue.

[2019-01-15 11:31] 0pdd opened #11 "RestfulZoldNet.java:38-39: Add methods for API entry..."
The puzzle `4-040a72fe` from #4 has to be resolved:

https://github.com/amihaiemil/zold-java-client/blob/795d20c9c15a6f6bcf372feaafb569f5c0eb26b4/src/main/java/com/amihaiemil/zold/RestfulZoldNet.java#L38-L39

The puzzle was created by @amihaiemil on 15-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the

[2019-01-15 11:31] 0pdd commented on #11
@amihaiemil please pay attention to this new issue.

[2019-01-15 11:32] 0crat commented on #10
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-01-15 11:32] 0crat commented on #11
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-01-15 11:35] amihaiemil commented on #11
We should follow the example of [zold-ruby-sdk](https://github.com/zold-io/zold-ruby-sdk) -- start with a method from there :)

[2019-01-15 11:38] 0crat commented on #10
Job [#10](https://github.com/amihaiemil/zold-java-client/issues/10) is now in scope, role is `DEV`

[2019-01-15 11:41] 0crat commented on #11
Job [#11](https://github.com/amihaiemil/zold-java-client/issues/11) is now in scope, role is `DEV`

[2019-01-15 11:55] 0crat commented on #10
The job [#10](https://github.com/amihaiemil/zold-java-client/issues/10) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/GFCHY7NQG/53ccace1-92d4-4d9f-b62d-fa2ca91a8c54); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-01-15 11:56] 0crat commented on #11
The job [#11](https://github.com/amihaiemil/zold-java-client/issues/11) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/GFCHY7NQG/1587118d-79f1-44cf-aa2e-81af878fdcfb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-01-15 13:38] yegor256 commented on #8
@amihaiemil yes, `ZoldWts` looks good.

[2019-01-15 13:55] denis-konovalyenko opened #13 "Extend the contributing readme section with the rulles to bare in mind"
It would be better to have a message like that:
"We don't have a QAs on the projects but, we should still try to respect [the QA rules](http://www.zerocracy.com/policy.html#42) as much as possible. That means that we should not block PRs for small stuff like commit messages and so on."

[2019-01-15 13:55] 0crat commented on #13
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-01-15 14:02] amihaiemil commented on #13
@denis-konovalyenko Right, but let's give more context/details. I think  he paragraph should be:

"This project is managed by [Zerocracy](http://www.zerocracy.com/), see the [Policy](http://www.zerocracy.com/policy.html) for more details.

Note that we do not have Zerocracy QAs, yet we still try to adhere to the [QA rules](http://www.zerocracy.com/policy.html#42) as much as possible (we won't bloc

[2019-01-15 14:04] denis-konovalyenko commented on #13
@amihaiemil, agree, that sounds better.

[2019-01-15 14:06] 0crat commented on #13
Job [#13](https://github.com/amihaiemil/zold-java-client/issues/13) is now in scope, role is `DEV`

[2019-01-15 14:14] 0crat commented on #13
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko)

[2019-01-15 15:19] ammaratef45 commented on #7
@amihaiemil now should this issue be closed? if not what else should be done?

[2019-01-15 15:20] amihaiemil commented on #7
@ammaratef45 right, I forgot, sorry :)

[2019-01-15 15:20] #7 closed

[2019-01-15 15:44] 0crat commented on #7
Job was finished in 6 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-01-15 15:47] 0crat commented on #7
The job [#7](https://github.com/amihaiemil/zold-java-client/issues/7) is now out of scope

[2019-01-15 15:47] 0crat commented on #7
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-01-16 09:00] 0crat commented on #13
Job `gh:amihaiemil/zold-java-client#13` already assigned to @paulodamaso, can't assign to @paulodamaso

[2019-01-17 07:04] ammaratef45 commented on #10
@0crat wait
@amihaiemil should wait till creating the HttpClient, right?

[2019-01-17 07:05] 0crat commented on #10
@ammaratef45 The impediment for [#10](https://github.com/amihaiemil/zold-java-client/issues/10) was registered successfully by @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-01-17 09:27] amihaiemil opened #15 "Add util classes"
Util classes such as MatchStatus, JavaResource and unit test infrastructure should be added, same as in docker-java-api.

[2019-01-17 09:42] amihaiemil opened #16 "ZoltWts.pull() :: Wallet"
Following the [ruby-sdk](https://github.com/zold-io/zold-ruby-sdk/blob/master/lib/zold/wts.rb), the first method we need is ``pull()`` which will return the ``Wallet`` with all its operations (``balance()``, ``id()`` etc). ``Wallet`` should, of course, be a ``JsonObject`` as well.

[2019-01-17 12:34] 0crat commented on #8
The job [#8](https://github.com/amihaiemil/zold-java-client/issues/8) is now out of scope

[2019-01-17 12:41] 0crat commented on #13
The job [#13](https://github.com/amihaiemil/zold-java-client/issues/13) is now out of scope

[2019-01-17 12:41] 0crat commented on #8
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-01-17 12:49] 0crat commented on #13
Order was finished: +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-17 12:49] 0crat commented on #8
Job `gh:amihaiemil/zold-java-client#8` doesn't exist in WBS, can't create order

[2019-01-17 12:49] 0crat commented on #16
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-01-17 13:10] 0crat commented on #15
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-01-17 13:16] 0crat commented on #16
The job [#16](https://github.com/amihaiemil/zold-java-client/issues/16) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/GFCHY7NQG/fe543096-2de3-4bb2-9b67-23867bf536a5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#

[2019-01-17 13:30] 0crat commented on #15
The job [#15](https://github.com/amihaiemil/zold-java-client/issues/15) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/GFCHY7NQG/e98e7e84-4645-4d0a-91b5-6ee0b4b4f1a0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#

[2019-01-17 16:40] ammaratef45 commented on #11
@amihaiemil
One of the methods I was adding is
`void pay(String keygap, String user, double amount, String details);`
But it has more than 3 parameters
I get that error

what should I do? I was thinking of creating a class called payment that holds the recipient, amount and details

[2019-01-20 06:06] ammaratef45 commented on #11
@0crat wait
waiting for a decision

[2019-01-20 06:20] 0crat commented on #11
@ammaratef45 The impediment for [#11](https://github.com/amihaiemil/zold-java-client/issues/11) was registered successfully by @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-01-20 16:55] amihaiemil commented on #11
@ammaratef45 regarding number of parameters, I would simply escape the Checkstyle rule. However, method pay(...) should be on the Wallet interface. See #16.

Make a PR in which you introduce that interface, with the method :)
Escape checkstyle using the ``@checkstyle`` annotation.

[2019-01-20 18:57] ammaratef45 commented on #11
@amihaiemil yes I'm already making it in the interface

[2019-01-20 20:58] #11 closed

[2019-01-20 20:58] 0pdd commented on #11
The puzzle `4-040a72fe` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2019-01-20 20:58] 0pdd opened #19 "RestfulZoldWts.java:38: implement body of interface methods."
The puzzle `11-721420d3` from #11 has to be resolved:

https://github.com/amihaiemil/zold-java-client/blob/10d890e0222194acdbc0b3c1bfa68f14c727b5a3/src/main/java/com/amihaiemil/zold/RestfulZoldWts.java#L38-L38

The puzzle was created by @amihaiemil on 20-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and t

[2019-01-20 20:58] 0pdd commented on #19
@amihaiemil please pay attention to this new issue.

[2019-01-20 20:58] 0pdd opened #20 "RestfulZoldWts.java:82-84: should avoid using null (it's..."
The puzzle `11-226cf3e4` from #11 has to be resolved:

https://github.com/amihaiemil/zold-java-client/blob/10d890e0222194acdbc0b3c1bfa68f14c727b5a3/src/main/java/com/amihaiemil/zold/RestfulZoldWts.java#L82-L84

The puzzle was created by @amihaiemil on 20-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and t

[2019-01-20 20:58] 0pdd commented on #20
@amihaiemil please pay attention to this new issue.

[2019-01-20 20:58] 0pdd opened #21 "Wallet.java:22-23: solve checkstyle paramternumber error..."
The puzzle `11-6cb5dac1` from #11 has to be resolved:

https://github.com/amihaiemil/zold-java-client/blob/10d890e0222194acdbc0b3c1bfa68f14c727b5a3/src/main/java/com/amihaiemil/zold/Wallet.java#L22-L23

The puzzle was created by @amihaiemil on 20-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2019-01-20 20:58] 0pdd commented on #21
@amihaiemil please pay attention to this new issue.

[2019-01-20 20:59] #16 closed

[2019-01-20 20:59] 0crat commented on #21
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-01-20 21:00] 0crat commented on #20
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-01-20 21:00] 0crat commented on #19
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-01-20 21:05] 0crat commented on #21
Job [#21](https://github.com/amihaiemil/zold-java-client/issues/21) is now in scope, role is `DEV`

[2019-01-20 21:05] 0crat commented on #20
Job [#20](https://github.com/amihaiemil/zold-java-client/issues/20) is now in scope, role is `DEV`

[2019-01-20 21:07] 0crat commented on #19
Job [#19](https://github.com/amihaiemil/zold-java-client/issues/19) is now in scope, role is `DEV`

[2019-01-20 21:20] 0crat commented on #21
The job [#21](https://github.com/amihaiemil/zold-java-client/issues/21) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/GFCHY7NQG/dc102c56-550c-4190-9efa-1f474cf22d09); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-01-20 21:34] 0crat commented on #11
The job [#11](https://github.com/amihaiemil/zold-java-client/issues/11) is now out of scope

[2019-01-20 21:35] 0crat commented on #21
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-01-20 21:38] amihaiemil commented on #19
@ammaratef45 @OleksandrSankin Thanks again for your help! I will implement this tomorrow so you have an example of what I have in mind :)

[2019-01-20 21:40] 0crat commented on #16
The job [#16](https://github.com/amihaiemil/zold-java-client/issues/16) is now out of scope

[2019-01-20 21:40] 0crat commented on #20
The job [#20](https://github.com/amihaiemil/zold-java-client/issues/20) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/GFCHY7NQG/d7d40a5e-c0c9-4581-8cbf-eb7075400b2b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-01-20 21:42] 0crat commented on #11
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-01-20 21:42] 0crat commented on #19
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-01-20 21:42] 0crat commented on #16
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-20 21:45] ammaratef45 commented on #19
@amihaiemil Great, that would be nice 😄

[2019-01-20 21:49] 0crat commented on #20
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-01-20 21:49] 0crat commented on #21
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-01-20 21:49] 0crat commented on #20
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-01-20 21:55] 0crat commented on #21
The job [#21](https://github.com/amihaiemil/zold-java-client/issues/21) is now out of scope

[2019-01-20 21:55] 0crat commented on #20
The job [#20](https://github.com/amihaiemil/zold-java-client/issues/20) is now out of scope

[2019-01-20 21:55] 0crat commented on #21
Order was finished: +35 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-01-20 21:55] 0crat commented on #20
Order was finished: +35 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-01-21 05:49] g4s8 commented on #15
@0crat refuse

[2019-01-21 06:57] denis-konovalyenko opened #23 "Consider publishing to Sonatype repo (maven central)"
How are we going to deliver the SDK to end users?

There is a possibility to use [the Open Source Software Repository Hosting (OSSRH)](https://central.sonatype.org/pages/ossrh-guide.html), which is an approved repository provided by Sonatype for any OSS Project that wants to get their artefacts into Central Repository (maven).

[2019-01-21 06:57] 0crat commented on #23
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-01-21 07:35] denis-konovalyenko commented on #23
@amihaiemil , ah, nice integration! And thanks for the reference!

[2019-01-21 08:09] 0pdd opened #25 "PayloadOf.java:42: Add tests for PayloadOf."
The puzzle `25-8ad4a268` from #25 has to be resolved:

https://github.com/amihaiemil/zold-java-client/blob/ffe8aae48a9e6523d002e9646c7a97c666005cd1/src/main/java/com/amihaiemil/zold/PayloadOf.java#L42-L42

The puzzle was created by @amihaiemil on 21-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the te

[2019-01-21 08:09] 0pdd commented on #25
@amihaiemil please pay attention to this new issue.

[2019-01-21 08:12] #15 closed, assigned to nobody

[2019-01-21 10:19] 0crat commented on #15
@g4s8 The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#15](https://github.com/amihaiemil/zold-java-client/issues/15), please stop working. Reason for job resignation: Order was cancelled

[2019-01-21 10:20] 0crat commented on #23
Job `gh:amihaiemil/zold-java-client#23` is not assigned, can't get performer

[2019-01-21 10:20] 0crat commented on #25
Job [#25](https://github.com/amihaiemil/zold-java-client/issues/25) is now in scope, role is `DEV`

[2019-01-21 10:21] 0crat commented on #15
Job `gh:amihaiemil/zold-java-client#15` is not assigned, can't get performer

[2019-01-21 10:23] 0crat commented on #15
The job [#15](https://github.com/amihaiemil/zold-java-client/issues/15) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/GFCHY7NQG/e5929a15-1d97-425b-a5f5-735756cb7930); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-01-21 14:50] amihaiemil opened #26 "Adapt testing framework"
Addapt class ``AsserRequest`` to support multiple (consecutive) HttpRequests. Each request should be asserted against its conditions and have its own response.

[2019-01-21 14:51] 0crat commented on #26
Job [#26](https://github.com/amihaiemil/zold-java-client/issues/26) is now in scope, role is `DEV`

[2019-01-21 14:51] 0crat commented on #26
The job [#26](https://github.com/amihaiemil/zold-java-client/issues/26) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/GFCHY7NQG/c968ecab-cb2c-41ee-8bca-b7e6746c409e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2019-01-21 14:54] 0crat commented on #26
Job `gh:amihaiemil/zold-java-client#26` already assigned to @amihaiemil, can't assign to @amihaiemil

[2019-01-21 14:54] amihaiemil opened #28 "Release 0.0.1"
The very first version: it will just pull a wallet and check for its id. It also has a few bugs, most likely.

[2019-01-21 14:56] 0pdd commented on #19
The puzzle `11-721420d3` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2019-01-21 14:56] #19 closed

[2019-01-21 14:56] 0pdd opened #29 "RtWallet.java:40-41: Continue implementing Wallet..."
The puzzle `19-e3637f82` from #19 has to be resolved:

https://github.com/amihaiemil/zold-java-client/blob/721134ab57f7273156efa9e83fa8d1c668a23b2c/src/main/java/com/amihaiemil/zold/RtWallet.java#L40-L41

The puzzle was created by @amihaiemil on 21-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the tex

[2019-01-21 14:56] 0pdd commented on #29
@amihaiemil please pay attention to this new issue.

[2019-01-21 14:56] amihaiemil commented on #28
@rultor release it, tag is `0.0.1`

[2019-01-21 14:57] 0crat commented on #29
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-01-21 14:57] 0crat commented on #26
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-01-21 14:58] 0crat commented on #26
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-01-21 14:58] 0crat commented on #26
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-01-21 14:59] rultor commented on #28
@amihaiemil OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17455-456101280)

[2019-01-21 15:02] 0crat commented on #29
Job [#29](https://github.com/amihaiemil/zold-java-client/issues/29) is now in scope, role is `DEV`

[2019-01-21 15:03] rultor commented on #28
@amihaiemil Done! FYI, the full log is [here](http://www.rultor.com/t/17455-456101280) (took me 3min)

[2019-01-21 15:14] 0crat commented on #19
Job was finished in 17 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-01-21 15:21] 0crat commented on #10
The job [#10](https://github.com/amihaiemil/zold-java-client/issues/10) is now out of scope

[2019-01-21 15:21] 0crat commented on #19
The job [#19](https://github.com/amihaiemil/zold-java-client/issues/19) is now out of scope

[2019-01-21 15:21] amihaiemil commented on #28
@yegor256 @g4s8 version `0.0.1` is on Maven Central. It's very primitive and it has no tests yet, but please try it out. So far, you can pull the wallet and read its id:

[code]

``wts.pull()`` will take about 1 minute to complete, since it also waits for the network job to be finished.

[2019-01-21 15:21] 0crat commented on #10
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-01-21 15:24] 0crat commented on #29
The job [#29](https://github.com/amihaiemil/zold-java-client/issues/29) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/GFCHY7NQG/aff2d0c1-3aca-4b8a-9eb9-a8f1ec0a4387); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-01-22 10:39] #26 closed

[2019-01-22 10:39] #28 closed

[2019-01-22 11:02] 0crat commented on #28
Job `gh:amihaiemil/zold-java-client#28` is not assigned, can't get performer

[2019-01-22 11:03] 0crat commented on #26
Job was finished in 19 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-01-22 11:03] 0crat commented on #28
This job is not in scope

[2019-01-22 11:04] 0crat commented on #26
The job [#26](https://github.com/amihaiemil/zold-java-client/issues/26) is now out of scope

[2019-01-22 11:04] 0crat commented on #26
Order was finished: +35 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-01-23 12:31] g4s8 commented on #28
@amihaiemil thanks

[2019-01-23 19:30] ammaratef45 opened #31 "API documentation should be added to readme file"
I think that we should documentation for both:

1- The source API
2- How the JAVA API to be used

[2019-01-23 19:30] 0crat commented on #31
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-01-24 16:07] #29 closed

[2019-01-24 16:07] 0pdd commented on #29
The puzzle `19-e3637f82` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2019-01-24 16:07] 0pdd opened #33 "RtWallet.java:40-41: Continue implementing Wallet..."
The puzzle `29-e3637f82` from #29 has to be resolved:

https://github.com/amihaiemil/zold-java-client/blob/733ba86b0cc0ca695cc7d952b69a6585db7460bb/src/main/java/com/amihaiemil/zold/RtWallet.java#L40-L41

The puzzle was created by @ammaratef45 on 24-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the te

[2019-01-24 16:07] 0pdd commented on #33
@amihaiemil please pay attention to this new issue.

[2019-01-24 16:07] 0pdd opened #34 "RtWallet.java:42: Write unit test for all wallet operations."
The puzzle `29-6cca827c` from #29 has to be resolved:

https://github.com/amihaiemil/zold-java-client/blob/733ba86b0cc0ca695cc7d952b69a6585db7460bb/src/main/java/com/amihaiemil/zold/RtWallet.java#L42-L42

The puzzle was created by @ammaratef45 on 24-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the te

[2019-01-24 16:07] 0pdd commented on #34
@amihaiemil please pay attention to this new issue.

[2019-01-24 16:08] 0crat commented on #34
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-01-24 16:09] 0crat commented on #33
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-01-24 16:15] 0crat commented on #34
Job [#34](https://github.com/amihaiemil/zold-java-client/issues/34) is now in scope, role is `DEV`

[2019-01-24 16:17] 0crat commented on #33
Job [#33](https://github.com/amihaiemil/zold-java-client/issues/33) is now in scope, role is `DEV`

[2019-01-24 16:35] 0crat commented on #34
The job [#34](https://github.com/amihaiemil/zold-java-client/issues/34) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/GFCHY7NQG/1cd8f6fe-9bfa-414a-be09-135a3fc22ea4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#

[2019-01-24 17:19] 0crat commented on #29
The job [#29](https://github.com/amihaiemil/zold-java-client/issues/29) is now out of scope

[2019-01-24 17:19] 0crat commented on #33
The job [#33](https://github.com/amihaiemil/zold-java-client/issues/33) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/GFCHY7NQG/0a502b3b-9f16-4dd2-9aff-4c265e3458ba); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-01-24 17:20] 0crat commented on #29
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-01-27 11:56] OleksandrSankin opened #35 "Pull method doesn't work"
[code]
Got error:

[code]

[2019-01-27 11:56] 0crat commented on #35
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-01-27 11:56] 0crat commented on #35
@oleksandrsankin[/z](https://www.0crat.com/u/oleksandrsankin) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/GFCHY7NQG) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-27 12:43] 0crat commented on #35
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-01-27 12:48] 0crat commented on #35
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-01-27 12:54] 0crat commented on #35
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @oleksandrsankin[/z](https://www.0crat.com/u/oleksandrsankin)

[2019-01-27 13:57] OleksandrSankin opened #37 "WaitForWallet class doesn't wait for job status in a proper way."
[code]
Got error:
[code]

[2019-01-27 13:57] 0crat commented on #37
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-01-27 13:57] 0crat commented on #37
@oleksandrsankin[/z](https://www.0crat.com/u/oleksandrsankin) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/GFCHY7NQG) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-27 13:58] OleksandrSankin commented on #37
It happens because WaitForWallet class just wait for HTTP status 200, but should wait for HTTP body as "OK"

[2019-01-27 15:51] 0crat commented on #37
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-01-27 15:51] 0crat commented on #37
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-01-27 15:59] 0crat commented on #37
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @oleksandrsankin[/z](https://www.0crat.com/u/oleksandrsankin)

[2019-01-27 16:05] 0crat commented on #35
Job was finished in 2 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-01-27 16:10] g4s8 commented on #34
@0crat refuse

[2019-01-27 16:41] 0crat commented on #35
The job [#35](https://github.com/amihaiemil/zold-java-client/issues/35) is now out of scope

[2019-01-27 16:53] 0crat commented on #35
Order was finished: +35 point(s) just awarded to @oleksandrsankin[/z](https://www.0crat.com/u/oleksandrsankin)

[2019-01-27 16:53] 0crat commented on #34
@g4s8 The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#34](https://github.com/amihaiemil/zold-java-client/issues/34), please stop working. Reason for job resignation: Order was cancelled

[2019-01-27 17:01] 0crat commented on #35
Job `gh:amihaiemil/zold-java-client#35` doesn't exist in WBS, can't create order

[2019-01-27 17:31] 0crat commented on #34
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-27 17:31] 0crat commented on #34
The job [#34](https://github.com/amihaiemil/zold-java-client/issues/34) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/GFCHY7NQG/734021ec-cbb9-4ff3-b6c7-15263a475c83); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-01-27 17:35] 0crat commented on #34
Job `gh:amihaiemil/zold-java-client#34` already assigned to @ammaratef45, can't assign to @ammaratef45

[2019-01-27 19:24] g4s8 opened #39 "Incorrect interruption handling"
There is a `catch` block in `WaitForWallet`: https://github.com/amihaiemil/zold-java-client/blob/721134ab57f7273156efa9e83fa8d1c668a23b2c/src/main/java/com/amihaiemil/zold/WaitForWallet.java#L103-L107

it handles `InterruptedException` but doesn't set interrupted flag of the thread and doesn't terminate the job. It's not correct usage of this kind of exception. It should either add `InterruptedExc

[2019-01-28 06:47] ammaratef45 commented on #33
@amihaiemil
In [zold-ruby-sdk](https://github.com/zold-io/zold-ruby-sdk/blob/master/lib/zold/wts.rb) find takes a thing called query (I'm not a ruby expert but for me, it's like a json) and it takes all params and its values from them.
We are allowing only searching by user and details (and not one of them too)
Shall we proceed with that?

[2019-01-28 06:50] ammaratef45 commented on #34
@amihaiemil
Sorry if my question is naive, should we add since tag for new files as 0.0.2 instead of 0.0.1?

[2019-01-28 17:00] g4s8 commented on #25
@0crat refuse

[2019-01-28 17:01] 0crat commented on #25
@g4s8 The user @g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#25](https://github.com/amihaiemil/zold-java-client/issues/25), please stop working. Reason for job resignation: Order was cancelled

[2019-01-28 17:04] 0crat commented on #25
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-28 17:07] 0crat commented on #25
The job [#25](https://github.com/amihaiemil/zold-java-client/issues/25) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/GFCHY7NQG/55b631b7-ecf4-46e9-9dd5-387026ab5068); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-01-29 16:16] 0crat commented on #39
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-01-29 17:01] #37 closed

[2019-01-29 17:21] 0crat commented on #37
Job [#37](https://github.com/amihaiemil/zold-java-client/issues/37) is not in the agenda of @oleksandrsankin[/z](https://www.0crat.com/u/oleksandrsankin), can't retrieve data and time of add

[2019-01-29 17:42] 0crat commented on #33
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-01-29 17:52] 0crat commented on #39
The job [#39](https://github.com/amihaiemil/zold-java-client/issues/39) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/GFCHY7NQG/f61ca81c-28fc-45f7-ba78-cd17b689fa59); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-01-30 08:05] ammaratef45 commented on #34
@amihaiemil we will need to mock a wallet to be used for this test?

[2019-01-31 16:10] ammaratef45 commented on #34
@0crat refuse

[2019-01-31 16:12] ammaratef45 commented on #25
@0crat refuse

[2019-01-31 16:15] 0crat commented on #34
@ammaratef45 The user @ammaratef45[/z](https://www.0crat.com/u/ammaratef45) resigned from [#34](https://github.com/amihaiemil/zold-java-client/issues/34), please stop working. Reason for job resignation: Order was cancelled

[2019-01-31 16:22] 0crat commented on #25
@ammaratef45 The user @ammaratef45[/z](https://www.0crat.com/u/ammaratef45) resigned from [#25](https://github.com/amihaiemil/zold-java-client/issues/25), please stop working. Reason for job resignation: Order was cancelled

[2019-01-31 16:23] 0crat commented on #34
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-02-03 18:40] 0crat commented on #39
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-05 15:16] 0pdd opened #41 "RtWallet.java:45: implement the find method as in zold..."
The puzzle `33-e07698b5` from #33 has to be resolved:

https://github.com/amihaiemil/zold-java-client/blob/1d7c29b68853662c8162d26a8459fffa61c4955a/src/main/java/com/amihaiemil/zold/RtWallet.java#L45-L45

The puzzle was created by @rultor on 05-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of

[2019-02-05 15:16] 0pdd commented on #41
@amihaiemil please pay attention to this new issue.

[2019-02-05 15:17] 0crat commented on #41
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-02-05 15:22] 0crat commented on #41
Job [#41](https://github.com/amihaiemil/zold-java-client/issues/41) is now in scope, role is `DEV`

[2019-02-05 15:43] 0crat commented on #33
The job [#33](https://github.com/amihaiemil/zold-java-client/issues/33) is now out of scope

[2019-02-05 15:43] 0crat commented on #33
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-02-05 16:42] 0crat commented on #25
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-06 06:32] 0crat commented on #25
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-02-06 06:33] 0crat commented on #25
The job [#25](https://github.com/amihaiemil/zold-java-client/issues/25) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/GFCHY7NQG/13bbfda9-83ef-433f-8653-40b49130f944); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-07 13:59] paulodamaso commented on #39
@amihaiemil So, which option I implement:
1) add `InterruptedException` to method signature and do not handle it; **OR**
2) set interrupted flag and cancel running operation?

[2019-02-07 14:00] paulodamaso commented on #39
@0crat wait for answer of question in comment https://github.com/amihaiemil/zold-java-client/issues/39#issuecomment-461429646

[2019-02-07 14:14] 0crat commented on #39
@paulodamaso The impediment for [#39](https://github.com/amihaiemil/zold-java-client/issues/39) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-07 17:43] 0crat commented on #34
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-09 00:13] paulodamaso commented on #39
@amihaiemil ping

[2019-02-09 16:53] amihaiemil commented on #39
@paulodamaso I would go with option 2: set interrupted flag and cancel running operation?

[2019-02-10 15:41] 0crat commented on #41
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-11 06:43] 0crat commented on #25
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-12 17:48] paulodamaso commented on #34
@0crat refuse

[2019-02-12 17:49] 0crat commented on #34
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#34](https://github.com/amihaiemil/zold-java-client/issues/34), please stop working. Reason for job resignation: Order was cancelled

[2019-02-12 17:49] 0crat commented on #34
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-12 19:45] paulodamaso commented on #39
@g4s8 Merged, please close

[2019-02-12 20:14] g4s8 commented on #39
@paulodamaso thanks

[2019-02-12 20:14] #39 closed

[2019-02-12 20:40] 0crat commented on #39
The job [#39](https://github.com/amihaiemil/zold-java-client/issues/39) is now out of scope

[2019-02-12 20:40] 0crat commented on #39
Order was finished: +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-18 12:14] amorenew commented on #31
https://github.com/zold-io/wts.zold.io/blob/master/README.md

[2019-02-21 09:56] 0crat commented on #41
The job [#41](https://github.com/amihaiemil/zold-java-client/issues/41) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/GFCHY7NQG/96ae4394-cdfc-4ab8-b9cd-7c999f601487); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-24 19:21] denis-konovalyenko opened #44 "Use BigDecimal instead of double"
There are 2 methods of the `Wallet` interface, which uses `double` type: `balance` and `pay`.

For more details please refer to [this resource](https://stackoverflow.com/questions/3730019/why-not-use-double-or-float-to-represent-currency).

[2019-02-24 19:21] 0crat commented on #44
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-02-25 09:51] denis-konovalyenko commented on #44
@amihaiemil , as an alternative, I am tending to like this more and more, we can easily go with `String` types for `balance` and `pay` methods and leave all type conversion/parsing for the upper/user layer:
[code]
What do you think?

[2019-02-25 20:56] amihaiemil commented on #44
@denis-konovalyenko looks good! We do it with Strings and let folks take care of it, it's safer :)

[2019-02-25 21:00] 0crat commented on #44
Job [#44](https://github.com/amihaiemil/zold-java-client/issues/44) is now in scope, role is `DEV`

[2019-02-25 21:05] 0crat commented on #44
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko)

[2019-02-26 06:15] ammaratef45 commented on #41
@0crat wait for #43

[2019-02-26 06:16] 0crat commented on #41
@ammaratef45 The impediment for [#41](https://github.com/amihaiemil/zold-java-client/issues/41) was registered successfully by @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-02-27 06:46] 0crat commented on #44
The job [#44](https://github.com/amihaiemil/zold-java-client/issues/44) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/GFCHY7NQG/000f08ed-5400-4822-9fb0-a0d90821193a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-02-27 10:45] g4s8 opened #46 "Usage documentation is missed"
It's not clear how to use this library, what objects should I create and how to configure api-key and keygap.
E.g. if I need to send some amount of Zold from my wallet using api-key and geygap what should I do? Or how to check that transaction was sent successfully?

[2019-02-27 10:45] 0crat commented on #46
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-02-27 10:51] ammaratef45 commented on #46
See #6

[2019-02-27 18:15] #41 closed

[2019-02-27 18:15] 0pdd commented on #41
The puzzle `33-e07698b5` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2019-02-27 18:41] 0crat commented on #41
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-02-27 18:41] 0crat commented on #41
The job [#41](https://github.com/amihaiemil/zold-java-client/issues/41) is now out of scope

[2019-02-28 08:40] ammaratef45 commented on #44
@denis-konovalyenko Is it fine now?

[2019-02-28 10:59] denis-konovalyenko commented on #44
@ammaratef45 , what do you mean? As far as the pull request has been merged, 0crat should put the issue out of scope and close it. Maybe, it is too lazy today and it will take a bit of time to accomplish that. :)

[2019-02-28 11:17] ammaratef45 commented on #44
@denis-konovalyenko Hmmm, usually zerocrat doesn't close issues (reporter close it or PDD if it was a puzzle)
Am I missing something?

[2019-02-28 14:44] denis-konovalyenko commented on #44
@amihaiemil , ah, no problem. I think this is not clearly stated in the policy (or I missed that).

[2019-02-28 14:44] #44 closed

[2019-02-28 15:00] 0crat commented on #44
Job was finished in 31 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-28 15:09] 0crat commented on #44
The job [#44](https://github.com/amihaiemil/zold-java-client/issues/44) is now out of scope

[2019-02-28 15:12] 0crat commented on #44
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-01 14:43] wholegroup opened #47 "Android support is missed"
This library can't be compile on Android while it uses Apache HttpClient.
Android in self contains very old version of Apache HttpClient (probably 3.x) and disallows using third-party classes of org.apache.http.* package. More over Google is going to remove Apache HttpClient at all and offers to use `java.net.HttpURLConnection` instead.

Currently zold-java-client uses org.apache.http.impl.client.

[2019-03-01 14:43] 0crat commented on #47
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-03-01 14:44] 0crat commented on #47
@wholegroup[/z](https://www.0crat.com/u/wholegroup) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/GFCHY7NQG) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-02 09:30] wholegroup commented on #47
@amihaiemil I haven't tested, so I can't 100% be sure. There is no official information about android support, only a clue from [this ticket](https://issues.apache.org/jira/browse/HTTPCLIENT-1632)

[2019-03-02 13:23] amihaiemil commented on #47
@wholegroup I see. Let's try switching to Apache 5.0

[2019-03-02 13:23] amihaiemil commented on #47
@wholegroup I might not be so active the next days. When this task is finished, please ping me so we can release the library :)

[2019-03-02 13:24] 0crat commented on #47
Job [#47](https://github.com/amihaiemil/zold-java-client/issues/47) is now in scope, role is `DEV`

[2019-03-02 13:30] 0crat commented on #47
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @wholegroup[/z](https://www.0crat.com/u/wholegroup)

[2019-03-03 09:22] 0crat commented on #47
The job [#47](https://github.com/amihaiemil/zold-java-client/issues/47) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/GFCHY7NQG/40db3f54-f92b-4abe-b9ff-17ccf8334af6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-03-03 13:20] wholegroup commented on #47
@amihaiemil @ammaratef45
I've made PR #48
I made few tests on Android and it looked working.

[2019-03-03 13:36] ammaratef45 commented on #47
@amihaiemil please assign it to @wholegroup so he can get the credit of his work :+1:

[2019-03-05 11:48] amihaiemil commented on #47
@0crat assign @wholegroup

[2019-03-05 15:33] 0crat commented on #47
@amihaiemil The job [#47](https://github.com/amihaiemil/zold-java-client/issues/47) assigned to @wholegroup[/z](https://www.0crat.com/u/wholegroup), here is [why](https://www.0crat.com/footprint/GFCHY7NQG/b5a121a1-b59b-4210-a4da-a157c48eb230); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.ze

[2019-03-05 15:42] 0crat commented on #47
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-03-05 15:42] 0crat commented on #47
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-03-05 19:46] wholegroup commented on #47
@amihaiemil PR #48 has been merged.
Let's close this issue.

[2019-03-05 19:55] #47 closed

[2019-03-05 19:55] amihaiemil opened #49 "Release 0.0.2"
Let's release 0.0.2

[2019-03-05 19:56] amihaiemil commented on #49
@ammaratef45 @wholegroup I guess we can release it, since Apache is updated, right?

[2019-03-05 19:59] ammaratef45 commented on #49
Yes release and I will try using it in my app again 👍

On Tue, Mar 5, 2019, 9:56 PM Mihai A. <notifications@github.com> wrote:

[2019-03-05 20:01] amihaiemil commented on #49
@rultor release it, tag is `0.0.2`

[2019-03-05 20:02] rultor commented on #49
@amihaiemil OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18144-469836421)

[2019-03-05 20:07] rultor commented on #49
@amihaiemil Done! FYI, the full log is [here](http://www.rultor.com/t/18144-469836421) (took me 4min)

[2019-03-05 20:19] 0crat commented on #47
Job was finished in 5 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-05 20:25] 0crat commented on #47
The job [#47](https://github.com/amihaiemil/zold-java-client/issues/47) is now out of scope

[2019-03-05 20:26] 0crat commented on #47
Order was finished: +35 point(s) just awarded to @wholegroup[/z](https://www.0crat.com/u/wholegroup)

[2019-03-06 08:13] ammaratef45 opened #50 "String.join is not supported in Android"
Upgrading to the Apache 5.x did solve the problem ammaratef45/zold-android-wallet#1
Unfortunately, The `UserAgentRequestHeader.java` is using the static method `join` from `String` class.

Android supports only a subset of 1.8 JDK and that method is not one of them.
We need to change it and use something else.

[2019-03-06 08:13] 0crat commented on #50
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-03-06 08:16] 0crat commented on #50
Job [#50](https://github.com/amihaiemil/zold-java-client/issues/50) is now in scope, role is `DEV`

[2019-03-06 08:22] 0crat commented on #50
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-06 08:59] amihaiemil commented on #50
@ammaratef45 would you like to fix this? :D

[2019-03-06 09:03] ammaratef45 commented on #50
@amihaiemil Sure, let me do that.
At least I can test my solution before making a PR :laughing:

[2019-03-06 09:04] amihaiemil commented on #50
@0crat assign @ammaratef45

[2019-03-06 09:07] 0crat commented on #50
@amihaiemil The job [#50](https://github.com/amihaiemil/zold-java-client/issues/50) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/GFCHY7NQG/85c7ee44-2d21-4e09-92a0-e5c2e92dc95a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.

[2019-03-06 09:07] 0crat commented on #50
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-03-06 09:07] 0crat commented on #50
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2019-03-06 21:39] wholegroup commented on #50
@ammaratef45 It says https://developer.android.com/reference/java/lang/String.html#join(java.lang.CharSequence,%20java.lang.CharSequence...) String.join was added in API level 26
I've been tested this and it works with `targetSdkVersion 26`

What kind of errors did you get?

[2019-03-07 07:18] ammaratef45 commented on #50
@wholegroup Yes, but API 26 is quite a small range of devices to support.
I'm testing on a mobile that has API 23 (quite old).

[2019-03-07 07:24] ammaratef45 commented on #50
@wholegroup Look who also was added in API 26? https://developer.android.com/reference/java/time/Duration
:laughing:

[2019-03-08 08:25] amihaiemil commented on #50
@rultor release it, tag is `0.0.3`

[2019-03-08 08:27] rultor commented on #50
@amihaiemil OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18180-470846461)

[2019-03-08 08:30] rultor commented on #50
@amihaiemil Done! FYI, the full log is [here](http://www.rultor.com/t/18180-470846461) (took me 3min)

[2019-03-08 08:31] amihaiemil commented on #50
@ammaratef45 version ``0.0.3`` containing this fix is released :) thanks!

[2019-03-08 08:31] #50 closed

[2019-03-08 08:31] #49 closed

[2019-03-08 09:00] 0crat commented on #49
Job `gh:amihaiemil/zold-java-client#49` is not assigned, can't get performer

[2019-03-08 09:02] 0crat commented on #49
This job is not in scope

[2019-03-08 09:04] 0crat commented on #50
Job was finished in 47 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-08 09:05] 0crat commented on #50
The job [#50](https://github.com/amihaiemil/zold-java-client/issues/50) is now out of scope

[2019-03-08 09:05] 0crat commented on #50
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-14 15:52] amihaiemil opened #52 "updated puppycrawl"
Fixed something, let's release 0.0.4

[2019-03-14 15:53] amihaiemil commented on #52
@rultor release it, tag is `0.0.4`

[2019-03-14 15:53] rultor commented on #52
@amihaiemil OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18294-472931406)

[2019-03-14 16:05] rultor commented on #52
@amihaiemil Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18294-472931406) (spent 11min)

[code]

[2019-03-20 09:20] 0crat commented on #25
The job [#25](https://github.com/amihaiemil/zold-java-client/issues/25) assigned to @denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko), here is [why](https://www.0crat.com/footprint/GFCHY7NQG/e378548d-ba60-4a27-88a2-e2891d06e749); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://ww

[2019-03-20 17:56] denis-konovalyenko opened #54 "Failed during checkstyle configuration: SuppressWithNearbyCommentFilter is not allowed as a child in Checker"
The execution of the following command:
[code]
is failing with the message:
[code]
It looks like this is coming from `com.puppycrawl.tools.checkstyle.api.CheckstyleException: SuppressWithNearbyCommentFilter is not allowed as a child in Checker`.

[2019-03-20 17:56] 0crat commented on #54
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-03-21 06:51] 0crat commented on #34
The job [#34](https://github.com/amihaiemil/zold-java-client/issues/34) assigned to @denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko), here is [why](https://www.0crat.com/footprint/GFCHY7NQG/bde1e01d-9891-47f5-8fc2-1e6be1969887); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://ww

[2019-03-23 15:02] 0crat commented on #54
Job [#54](https://github.com/amihaiemil/zold-java-client/issues/54) is now in scope, role is `DEV`

[2019-03-23 15:05] amihaiemil commented on #54
@denis-konovalyenko I reverted the checkstyle change that broke the build, I guess it should be ok now. Let's see.

[2019-03-23 15:06] amihaiemil commented on #54
@ammaratef45 Since I don't have a lot of time these days, and you need this library for the android app, I made you architect in .rultor.yml. I trust you know the architecture and you'll merge good PRs ^^

cc: @denis-konovalyenko @g4s8

[2019-03-23 15:09] 0crat commented on #54
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko)

[2019-03-23 15:15] denis-konovalyenko commented on #54
@amihaiemil , thanks for the reversion! It looks like it is working now (at least in the scope of pull request #55).

[2019-03-24 04:59] denis-konovalyenko commented on #25
@ammaratef45 , as you are now an architect, could you please close this issue as 0pdd has not done this for some reasons? The puzzle was removed in the scope of the merged pull request.

[2019-03-24 05:51] ammaratef45 commented on #25
@denis-konovalyenko I can only order rultor to merge,
@amihaiemil please have a look

[2019-03-24 05:52] ammaratef45 commented on #54
@amihaiemil Thanks for your trust.

[2019-03-24 10:26] #25 closed

[2019-03-24 10:53] 0crat commented on #25
The job [#25](https://github.com/amihaiemil/zold-java-client/issues/25) is now out of scope

[2019-03-24 10:53] 0crat commented on #25
Order was finished: +30 point(s) just awarded to @denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko)

[2019-03-24 19:20] 0crat commented on #54
The job [#54](https://github.com/amihaiemil/zold-java-client/issues/54) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/GFCHY7NQG/6d8f922c-c020-4b3d-ad90-ac2fe24baff0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-03-24 19:24] ammaratef45 commented on #54
@denis-konovalyenko you'd to close it, right?

[2019-03-24 20:27] denis-konovalyenko commented on #54
@ammaratef45 , ah, you are right. Thanks for the notification!

[2019-03-24 20:27] #54 closed

[2019-03-24 20:46] 0crat commented on #54
Job was finished in 1 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-03-24 20:50] 0crat commented on #54
The job [#54](https://github.com/amihaiemil/zold-java-client/issues/54) is now out of scope

[2019-03-24 20:52] 0crat commented on #54
Order was finished: +35 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-26 06:17] 0pdd commented on #34
The puzzle `29-6cca827c` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2019-03-26 06:17] #34 closed

[2019-03-26 06:17] 0pdd opened #56 "RtWallet.java:48: Write unit tests for uncovered wallet..."
The puzzle `34-5b6d6642` from #34 has to be resolved:

https://github.com/amihaiemil/zold-java-client/blob/f6292d79a8908718d163d14c42a45bcf768a6602/src/main/java/com/amihaiemil/zold/RtWallet.java#L48-L48

The puzzle was created by Denis Konovalyenko on 23-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and

[2019-03-26 06:17] 0pdd commented on #56
@amihaiemil please pay attention to this new issue.

[2019-03-26 06:18] 0crat commented on #56
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-03-26 06:24] 0crat commented on #56
Job [#56](https://github.com/amihaiemil/zold-java-client/issues/56) is now in scope, role is `DEV`

[2019-03-26 06:32] 0crat commented on #56
The job [#56](https://github.com/amihaiemil/zold-java-client/issues/56) assigned to @denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko), here is [why](https://www.0crat.com/footprint/GFCHY7NQG/905da27e-3f5b-4e60-91cf-7ca688882295); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://ww

[2019-03-26 06:39] 0crat commented on #34
The job [#34](https://github.com/amihaiemil/zold-java-client/issues/34) is now out of scope

[2019-03-26 06:41] 0crat commented on #34
Order was finished: +30 point(s) just awarded to @denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko)

[2019-03-26 09:45] denis-konovalyenko opened #58 "Improve the find method to search with id, date, amount and prefix parameters"
According to [wts code base](https://github.com/zold-io/wts.zold.io/blob/7e3507fe96cd8cc6a0bd32a22ac1ab17644cc3e1/wts.rb#L512), the find transactions operation can be invoked with more than 2 parameters, which are currently available (`bnf` and `details`):
- `id`
- `date`
- `amount`
- `prefix`

It would be nice to have this functionality completed.

[2019-03-26 09:45] 0crat commented on #58
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-03-26 10:08] 0crat commented on #58
Job [#58](https://github.com/amihaiemil/zold-java-client/issues/58) is now in scope, role is `DEV`

[2019-03-26 10:17] 0crat commented on #58
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko)

[2019-03-27 03:11] 0crat commented on #58
The job [#58](https://github.com/amihaiemil/zold-java-client/issues/58) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/GFCHY7NQG/ae54baad-1069-4ee1-857d-b474e4970417); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-03-27 09:07] amihaiemil opened #59 "Transfer Repo?"
Hey @ammaratef45

Let me know if you want me to transfer the repo to you. Before doing that, we should modify the Release configuration, including maven groupID and settings + keys under /rcfg.

[2019-03-27 11:39] ammaratef45 commented on #59
@amihaiemil You've granted me all needed permissions on it, I don't mind transferring it but I feel okay with it being after your name.
What do you like? I won't mind

[2019-03-27 11:41] amihaiemil commented on #59
@ammaratef45 well, I also don't mind, it was just something that came to my mind. Let's stay like this until it's stable anyway, I don't wanna bother with transfering it in Zerocracy as well (I remembered about ZC after I opened the ticket)

[2019-03-27 11:42] ammaratef45 commented on #59
@amihaiemil Okay then :+1:

[2019-03-28 09:48] ammaratef45 commented on #58
@0crat wait for merging #60

[2019-03-28 10:39] 0crat commented on #58
@ammaratef45 The impediment for [#58](https://github.com/amihaiemil/zold-java-client/issues/58) was registered successfully by @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-03-31 06:40] 0crat commented on #56
@denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-03-31 11:08] denis-konovalyenko commented on #56
@0crat wait for the pull request #57 merge.

[2019-03-31 11:10] 0crat commented on #56
@denis-konovalyenko The impediment for [#56](https://github.com/amihaiemil/zold-java-client/issues/56) was registered successfully by @denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko)

[2019-04-02 07:39] ammaratef45 commented on #58
@denis-konovalyenko Can you close this issue?

[2019-04-02 10:35] denis-konovalyenko commented on #58
@ammaratef45 , thanks for the solution!

[2019-04-02 10:35] #58 closed

[2019-04-02 10:56] 0crat commented on #58
The job [#58](https://github.com/amihaiemil/zold-java-client/issues/58) is now out of scope

[2019-04-02 10:59] 0crat commented on #58
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-03 09:47] #56 closed

[2019-04-03 09:47] 0pdd commented on #56
The puzzle `34-5b6d6642` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2019-04-03 09:47] 0pdd opened #61 "RtWallet.java:49: Write unit tests for uncovered wallet..."
The puzzle `56-5b6d6642` from #56 has to be resolved:

https://github.com/amihaiemil/zold-java-client/blob/c0c915e69773a5d0c366cb6f466d067035c23988/src/main/java/com/amihaiemil/zold/RtWallet.java#L49-L49

The puzzle was created by Denis Konovalyenko on 26-Mar-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and

[2019-04-03 09:47] 0pdd commented on #61
@amihaiemil please pay attention to this new issue.

[2019-04-03 09:48] 0crat commented on #61
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) please, pay attention to this issue

[2019-04-03 10:27] 0crat commented on #61
Job [#61](https://github.com/amihaiemil/zold-java-client/issues/61) is now in scope, role is `DEV`

[2019-04-03 10:27] 0crat commented on #61
Job [#61](https://github.com/amihaiemil/zold-java-client/issues/61) is already in scope

[2019-04-03 10:44] 0crat commented on #56
The job [#56](https://github.com/amihaiemil/zold-java-client/issues/56) is now out of scope

[2019-04-03 10:49] 0crat commented on #56
Order was finished: +30 point(s) just awarded to @denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko)

[2019-04-03 10:56] 0crat commented on #61
The job [#61](https://github.com/amihaiemil/zold-java-client/issues/61) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/GFCHY7NQG/786694c8-c791-4ec5-9398-455c2839a548); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#

[2019-04-03 11:50] g4s8 commented on #61
@0crat refuse

[2019-04-03 11:51] 0crat commented on #61
@g4s8 Job `gh:amihaiemil/zold-java-client#61` is not assigned, can't get performer

[2019-04-05 18:27] 0crat commented on #61
The job [#61](https://github.com/amihaiemil/zold-java-client/issues/61) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/GFCHY7NQG/f40abd01-d2c5-4d92-92c8-61b1b65187a4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2019-04-10 18:39] 0crat commented on #61
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-04-11 06:25] ammaratef45 commented on #61
@0crat wait for merging #62

[2019-04-11 06:25] 0crat commented on #61
I'm not managing `amihaiemil/zold-java-client` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2019-05-09 21:50] denis-konovalyenko opened #63 "The project is not known to 0crat"
It looks like the project is not listed on [the board](https://www.0crat.com/board) any more. Its ID has to be [GFCHY7NQG](https://www.0crat.com/p/GFCHY7NQG) I believe.

[The following message](https://github.com/amihaiemil/zold-java-client/pull/62#issuecomment-481574074) from 0crat just confirms this:

[2019-05-09 21:50] 0crat commented on #63
@denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko) I'm not managing this repo, remove the [webhook](https://github.com/amihaiemil/zold-java-client/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `amihaiemil/zold-java-client` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocr

[2019-05-09 21:52] denis-konovalyenko commented on #63
@amihaiemil , could you please pay attention to this issue? Thanks!

[2019-05-10 09:20] 0crat commented on #63
I'm not managing `amihaiemil/zold-java-client` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11)

[2019-05-10 09:26] amihaiemil commented on #63
@g4s8 can you help here pls? I have the Slack chat for this project, 0crat is in it as well; I said "bootstrap" and 0crat said the project is already setup and that I am the PO.

I think it should work already, but it doesn't :D

[2019-05-10 09:32] g4s8 commented on #63
@amihaiemil I think it happens because of https://github.com/zerocracy/farm/issues/1979 bug (where we've lost GitHub links), can you please link this repo again via Slack channel: `@0crat links add github amihaiemil/zold-java-client` (https://www.zerocracy.com/policy.html#17)

[2019-05-10 19:19] denis-konovalyenko commented on #63
@g4s8 and @amihaiemil , thanks! It seems 0crat now knows something about [the job](https://github.com/amihaiemil/zold-java-client/pull/62#issuecomment-491400454), but [the board](https://www.0crat.com/board) does not still contain the project.

[2019-05-13 04:32] 0pdd commented on #61
The puzzle `56-5b6d6642` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2019-05-13 04:32] #61 closed

[2019-05-13 04:56] 0crat commented on #61
Order was finished: +30 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-05-13 04:57] 0crat commented on #61
The job [#61](https://github.com/amihaiemil/zold-java-client/issues/61) is now out of scope

[2020-11-30 12:17] charlesmike opened #64 "Hello from Self XDSD!"
@charlesmike Thank you for the invitation, your repo is all set up and I will manage it starting now.

I will take care of tickets' assignment, payments and more, automatically.

If you don't want me to handle a certain Issue or PR, add the ``no-task`` label when creating it. You can also say ``deregister`` to me (if it's already in scope) and I will forget about it.

[2020-11-30 12:26] charlesmike opened #65 "JsonResource.java: This is a todo which should a..."
The puzzle ``1-1036acea`` originating from #1 has to be resolved:

https://github.com/amihaiemil/zold-java-client/blob/657e842847fddf681ef991f8348cb0f6fa97444c/src/main/java/com/amihaiemil/zold/JsonResource.java#L40-L41

"This is a todo which should automatically be turned into an Issue by the PM, when it is pushed to master.".

It was created by @amihaiemil on 2020-11-30T12:23:28Z. Estimation is

[2020-11-30 12:27] charlesmike commented on #65
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2020-11-30 12:37] charlesmike commented on #65
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2020-12-10T14:37:21.248549``.

Estimation here is ``45 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it partially and leave ``todo`` markers in the code, which will become future tasks.

If you have any questions don't ask

[2020-12-05 18:58] #65 closed

[2020-12-14 16:06] zoeself opened #66 "Hello from Self XDSD!"
@amihaiemil Thank you for the invitation, your repo is all set up and I will manage it starting now.

I will take care of tickets' assignment, payments and more, automatically.

If you don't want me to handle a certain Issue or PR, add the ``no-task`` label when creating it. You can also say ``deregister`` to me (if it's already in scope) and I will forget about it.

[2020-12-14 16:08] zoeself commented on #65
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-05-12 14:54] amihaiemil opened #67 "Test Issue Conditional Requests"
For Test...

[2021-05-12 14:54] charlesmike commented on #67
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-22T17:54:26.949848``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-05-12 14:54] charlesmike commented on #67
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-05-12 14:55] #64 closed

[2021-05-12 14:55] #66 closed

[2021-05-12 14:55] amihaiemil opened #68 "Second test issue"
Just test

[2021-05-12 14:56] charlesmike commented on #68
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2021-05-12 14:57] #67 closed

[2021-05-12 14:59] amihaiemil commented on #68
@charlesmike status

[2021-05-12 14:59] charlesmike commented on #68
@amihaiemil this ticket is registered as a task, I will assign it to someone soon.Needed role here is ``DEV`` and estimation is ``60`` minutes.

[2021-05-12 15:00] amihaiemil commented on #68
@charlesmike status

[2021-05-12 15:03] charlesmike opened #69 "Hello from Self XDSD!"
@amihaiemil Thank you for the invitation, your repo is all set up and I will manage it starting now.

I will take care of tickets' assignment, payments and more, automatically.

If you don't want me to handle a certain Issue or PR, add the ``no-task`` label when creating it. You can also say ``deregister`` to me (if it's already in scope) and I will forget about it.

[2021-05-12 15:03] charlesmike commented on #68
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-22T18:03:49.973314``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-05-12 15:07] amihaiemil commented on #68
@charlesmike status

[2021-05-12 15:07] charlesmike commented on #68
@amihaiemil this ticket is assigned to @amihaiemil since ``2021-05-12T18:03:49`` and it should be closed until ``2021-05-22T18:03:49``. Estimation is ``60`` minutes.

[2021-05-12 15:23] charlesmike commented on #67
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-05-12 15:26] #68 closed

[2021-05-12 15:53] charlesmike commented on #68
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-05-22 08:24] charlesmike opened #72 "JsonResource.java: This is a todo which should a..."
The puzzle ``-77558866`` originating from #1 has to be resolved:

https://github.com/amihaiemil/zold-java-client/blob/bfe1bff84395366760f526016761303a39fc486c/src/main/java/com/amihaiemil/zold/JsonResource.java#L40-L41

"This is a todo which should automatically be turned into an Issue by the PM, when it is pushed to master.".

The puzzle was created by Mihai at ``2020-11-30 14:23:28 +0200``.
Esti

[2021-05-22 08:26] #72 closed, assigned to nobody

[2021-08-21 13:17] amihaiemil opened #73 "hello"
Just a test...

[2021-08-21 13:17] charlesmike commented on #73
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2021-08-21 13:22] charlesmike commented on #73
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-08-31T16:22:33.192697``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-08-21 13:30] amihaiemil commented on #73
@charlesmike resign

[2021-08-21 13:30] charlesmike commented on #73
@amihaiemil ok, I'll find someone else to take care of it.

[2021-08-21 13:32] charlesmike commented on #73
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2021-08-21 14:05] amihaiemil opened #74 "new issue"
another test

[2021-08-21 14:05] charlesmike commented on #74
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-08-31T17:05:57.562834``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-08-21 14:05] charlesmike commented on #74
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-08-21 14:06] amihaiemil opened #75 "another one"
test

[2021-08-21 14:06] charlesmike commented on #75
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2021-08-21 14:12] charlesmike commented on #75
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-08-31T17:12:33.600243``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-08-25 21:00] charlesmike commented on #74
@amihaiemil Don't forget to close this ticket before the deadline (2021-08-31T17:05:57). You are past the first half of the allowed period.

[2021-08-25 21:00] charlesmike commented on #75
@amihaiemil Don't forget to close this ticket before the deadline (2021-08-31T17:12:33). You are past the first half of the allowed period.

[2021-08-31 14:19] charlesmike commented on #74
@amihaiemil Looks like you've missed the task deadline (2021-08-31T17:05:57). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-08-31 14:19] charlesmike commented on #75
@amihaiemil Looks like you've missed the task deadline (2021-08-31T17:12:33). You are now resigned from this task.

Please stop working on it, you will not be paid. I will assign it to someone else soon.

[2021-08-31 14:19] charlesmike commented on #74
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2021-08-31 14:19] charlesmike commented on #75
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.